# Equal-Weight VN30



## Library Imports

In [1]:
!pip install numpy
!pip install vnstock3
!pip install requests

Requirement already satisfied: numpy in d:\anacoda\lib\site-packages (1.24.3)
Requirement already satisfied: vnstock3 in d:\anacoda\lib\site-packages (0.3.0.7)
Requirement already satisfied: requests in d:\anacoda\lib\site-packages (from vnstock3) (2.32.3)
Requirement already satisfied: beautifulsoup4 in d:\anacoda\lib\site-packages (from vnstock3) (4.12.3)
Requirement already satisfied: pandas in d:\anacoda\lib\site-packages (from vnstock3) (2.2.3)
Requirement already satisfied: vnai>=0.1.3 in d:\anacoda\lib\site-packages (from vnstock3) (0.1.3)
Requirement already satisfied: openpyxl in d:\anacoda\lib\site-packages (from vnstock3) (3.1.5)
Requirement already satisfied: pydantic in d:\anacoda\lib\site-packages (from vnstock3) (2.5.3)
Requirement already satisfied: psutil in d:\anacoda\lib\site-packages (from vnstock3) (5.9.0)
Requirement already satisfied: fake-useragent in d:\anacoda\lib\site-packages (from vnstock3) (1.5.1)
Requirement already satisfied: vnstock-ezchart in d:\anacoda\lib\site-packages (from vnstock3) (0.0.2)
Requirement already satisfied: click in d:\anacoda\lib\site-packages (from vnstock3) (8.1.7)
Requirement already satisfied: seaborn in d:\anacoda\lib\site-packages (from vnstock3) (0.13.2)
Requirement already satisfied: cryptography in d:\anacoda\lib\site-packages (from vnai>=0.1.3->vnstock3) (42.0.5)
Requirement already satisfied: soupsieve>1.2 in d:\anacoda\lib\site-packages (from beautifulsoup4->vnstock3) (2.5)
Requirement already satisfied: colorama in d:\anacoda\lib\site-packages (from click->vnstock3) (0.4.4)
Requirement already satisfied: et-xmlfile in d:\anacoda\lib\site-packages (from openpyxl->vnstock3) (1.1.0)
Requirement already satisfied: numpy>=1.23.2 in d:\anacoda\lib\site-packages (from pandas->vnstock3) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anacoda\lib\site-packages (from pandas->vnstock3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anacoda\lib\site-packages (from pandas->vnstock3) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anacoda\lib\site-packages (from pandas->vnstock3) (2023.3)
Requirement already satisfied: annotated-types>=0.4.0 in d:\anacoda\lib\site-packages (from pydantic->vnstock3) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in d:\anacoda\lib\site-packages (from pydantic->vnstock3) (2.14.6)
Requirement already satisfied: typing-extensions>=4.6.1 in d:\anacoda\lib\site-packages (from pydantic->vnstock3) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anacoda\lib\site-packages (from requests->vnstock3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\anacoda\lib\site-packages (from requests->vnstock3) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anacoda\lib\site-packages (from requests->vnstock3) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\anacoda\lib\site-packages (from requests->vnstock3) (2024.7.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\anacoda\lib\site-packages (from seaborn->vnstock3) (3.8.4)
Requirement already satisfied: squarify in d:\anacoda\lib\site-packages (from vnstock-ezchart->vnstock3) (0.4.4)
Requirement already satisfied: wordcloud in d:\anacoda\lib\site-packages (from vnstock-ezchart->vnstock3) (1.9.3)
Requirement already satisfied: vnstock in d:\anacoda\lib\site-packages (from vnstock-ezchart->vnstock3) (0.2.9.2.2)
Requirement already satisfied: contourpy>=1.0.1 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (1.4.4)
Requirement already satisfied: packaging>=20.0 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (24.1)
Requirement already satisfied: pillow>=8 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\anacoda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock3) (3.0.9)
Requirement already satisfied: six>=1.5 in d:\anacoda\lib\site-packages (from python-dateutil>=2.8.2->pandas->vnstock3) (1.16.0)
Requirement already satisfied: cffi>=1.12 in d:\anacoda\lib\site-packages (from cryptography->vnai>=0.1.3->vnstock3) (1.16.0)
Requirement already satisfied: pycparser in d:\anacoda\lib\site-packages (from cffi>=1.12->cryptography->vnai>=0.1.3->vnstock3) (2.21)
Requirement already satisfied: requests in d:\anacoda\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anacoda\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\anacoda\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anacoda\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\anacoda\lib\site-packages (from requests) (2024.7.4)

In [2]:
import pandas as pd
import numpy as np
import requests
import math
from vnstock3 import *

In [69]:
stock = Vnstock().stock(symbol='ACB', source='VCI')

2024-09-26 15:29:18,073 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

In [70]:
# from mysecrets import A_Alpha_Vantage

In [71]:
# symbol = 'IBM'
# url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&outputsize=full&apikey={A_Alpha_Vantage}'
# data = requests.get(url).json()
# data

## Tạo Dataframe những công ty trong VN30 với ba trường: Ticker, Price & MarketCap

### Tạo dataframe cho list công ty trong VN30

In [72]:
stocks = stock.listing.symbols_by_group('VN30')
stock_df = pd.DataFrame(stocks)
stock_df.rename(columns = {'symbol': 'Ticker'}, inplace = True)
print(stock_df)

   Ticker
0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    MBB
11    MSN
12    MWG
13    PLX
14    POW
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE

### In ra gía của cổ phiếu, ví dụ: ACB

In [73]:
ticker = "ACB"
price = float(stock.quote.intraday(symbol = f'{ticker}', show_log = False).iloc[0,1])
# price = np.array([price])
print(price)

26150.0

### In ra Market Cap, đơn vị: tỷ đồng

In [74]:
x = float(stock.trading.price_board(['ACB']).iloc[0,7])
x1= x/1000000000
x1
marketCap = round(price * x1,2)
marketCap

116803.1

### Tạo Dataframe mới với ba trường: Ticker, Price & MarketCap

In [75]:
my_columns = ['Ticker', 'Price', 'MarketCap', 'Number of Shares to Buy']
final_df = pd.DataFrame(columns = my_columns)
final_df

Empty DataFrame
Columns: [Ticker, Price, MarketCap, Number of Shares to Buy]
Index: []

### Thêm mã cổ phiếu, giá, vốn hóa vào dataframe mới

In [76]:
new_row = pd.Series([ticker, price, marketCap, 'N/A'], index=my_columns)
final_df = pd.concat([final_df, pd.DataFrame([new_row])], ignore_index=True)
final_df

The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

  Ticker    Price  MarketCap Number of Shares to Buy
0    ACB  26150.0   116803.1                     N/A

### RESULTS

In [77]:
my_columns = ['Ticker', 'Price', 'MarketCap', 'Number of Shares to Buy']
final_df = pd.DataFrame(columns=my_columns)

# lẶP QUA TỪNG TICKER TRONG STOCK_DF
for ticker in stock_df['Ticker']:
    try:
        # LẤY PRICE CHO TỪNG CỔ PHIẾU
        price = float(stock.quote.intraday(symbol=f'{ticker}', show_log=False).iloc[0, 1])
        
        # LẤY MARKETCAP CHO TỪNG CỔ PHIẾU
        x = float(stock.trading.price_board([ticker]).iloc[0, 7])
        x1 = x / 1000000000  # Adjust for billions
        marketCap = round(price * x1, 2)
        
        # TẠO MỘT HÀNG MỚI VỚI TICKER, PRICE, MARKETCAP
        new_row = pd.Series([ticker, price, marketCap, 'N/A'], index=my_columns)
        
        # THÊM ROW VÀO FINAL_DF
        final_df = pd.concat([final_df, pd.DataFrame([new_row])], ignore_index=True)
    
    except Exception as e:
        print(f"Error with ticker {ticker}: {e}")

final_df

The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

   Ticker     Price  MarketCap Number of Shares to Buy
0     ACB   26150.0  116803.10                     N/A
1     BCM   72000.0   74520.00                     N/A
2     BID   50100.0  285591.84                     N/A
3     BVH   43400.0   32216.50                     N/A
4     CTG   36350.0  195199.20                     N/A
5     FPT  134200.0  195992.13                     N/A
6     GAS   74400.0  174294.99                     N/A
7     GVR   36100.0  144399.24                     N/A
8     HDB   28100.0   81704.46                     N/A
9     HPG   26150.0  167261.94                     N/A
10    MBB   25750.0  136142.41                     N/A
11    MSN   75900.0  109170.89                     N/A
12    MWG   68500.0  100163.73                     N/A
13    PLX   45450.0   58806.12                     N/A
14    POW   13000.0   30443.33                     N/A
15    SAB   58000.0   74388.62                     N/A
16    SHB   10750.0   39376.27                     N/A
17    SSB   16950.0   48053.25                     N/A
18    SSI   27550.0   54121.13                     N/A
19    STB   32900.0   62016.23                     N/A
20    TCB   24200.0  170489.52                     N/A
21    TPB   16650.0   43988.67                     N/A
22    VCB   93300.0  521462.21                     N/A
23    VHM   44300.0  192892.90                     N/A
24    VIB   19400.0   57580.46                     N/A
25    VIC   42750.0  163461.53                     N/A
26    VJC  105000.0   56865.52                     N/A
27    VNM   71000.0  148379.38                     N/A
28    VPB   19700.0  156298.29                     N/A
29    VRE   19150.0   44595.13                     N/A

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [78]:
portfolio_size = input("Nhập giá trị danh mục:")

try:
    val = float(portfolio_size)
except ValueError:
    print("Invalid \n Try again:")
    portfolio_size = input("Nhập giá trị danh mục:")

In [79]:
position_size = float(portfolio_size) / len(final_df.index)
for i in range(0, len(final_df['Ticker'])-1):
    final_df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_df['Price'][i])
final_df

   Ticker     Price  MarketCap Number of Shares to Buy
0     ACB   26150.0  116803.10                      12
1     BCM   72000.0   74520.00                       4
2     BID   50100.0  285591.84                       6
3     BVH   43400.0   32216.50                       7
4     CTG   36350.0  195199.20                       9
5     FPT  134200.0  195992.13                       2
6     GAS   74400.0  174294.99                       4
7     GVR   36100.0  144399.24                       9
8     HDB   28100.0   81704.46                      11
9     HPG   26150.0  167261.94                      12
10    MBB   25750.0  136142.41                      12
11    MSN   75900.0  109170.89                       4
12    MWG   68500.0  100163.73                       4
13    PLX   45450.0   58806.12                       7
14    POW   13000.0   30443.33                      25
15    SAB   58000.0   74388.62                       5
16    SHB   10750.0   39376.27                      31
17    SSB   16950.0   48053.25                      19
18    SSI   27550.0   54121.13                      12
19    STB   32900.0   62016.23                      10
20    TCB   24200.0  170489.52                      13
21    TPB   16650.0   43988.67                      20
22    VCB   93300.0  521462.21                       3
23    VHM   44300.0  192892.90                       7
24    VIB   19400.0   57580.46                      17
25    VIC   42750.0  163461.53                       7
26    VJC  105000.0   56865.52                       3
27    VNM   71000.0  148379.38                       4
28    VPB   19700.0  156298.29                      16
29    VRE   19150.0   44595.13                     N/A

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: